<div ng-controller="VoiceMessageCtrl">
	<div class="row-fluid">
	
		<div th :if="${message !=null}">
			<table class="table table-striped table-bordered table-condensed"
				id="usertable">
				<thead>
					<tr>
						<th>Message ID</th>
						<th>Time</th>
						<th>Member</th>
						<th>Message</th>
						<th>Comment</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr class="list-users" th:each="voiceMessage : ${message} ">
	
						<td th:text="${voiceMessage.messageId}">Message Id</td>
						<td th:attr="id='savedVoiceMessageTime'+${voiceMessage.messageId}" th:text="${voiceMessage.Time}">Time</td>
						<td th:attr="id='savedVoiceMessageName'+${voiceMessage.messageId}" th:text="${voiceMessage.user.name}">Name</td>
						<td>
							<a th:href="${voiceMessage.voice.url}" target="_blank">Play Voice Message</a>
						</td>
						<td>
							<div th:attr="id='savedVoiceMessageComment'+${voiceMessage.messageId}"
								th:text="${voiceMessage.comments}" >Comment</div>
						</td>
						<td>
							<p data-placement="top" data-toggle="tooltip" title="Process">
								<button th:value="${voiceMessage.messageId}" class="view-saved-voice-message-modal btn btn-primary btn-xs"
									data-title="Process" data-toggle="modal" data-target="#view-saved-voice-message-modal">
									<i class="icon-white  icon-file"></i> View
								</button>
								<!-- Hidden Fields -->
								<input type="hidden" th:attr="id='savedVoiceMessageURL'+${voiceMessage.messageId}" th:value="${voiceMessage.voice.url}">
								<input type="hidden" th:attr="id='savedVoiceMessageOrderId'+${voiceMessage.messageId}" th:value="${voiceMessage.order.orderId}">
							</p>
						</td>
						
					</tr>
				</tbody>
			</table>
		</div>
	
		<div th:if="${message == null}">
			<B>No New Message </B>
	
		</div>
	</div>
	
	<div class="modal fade" id="view-saved-voice-message-modal" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="HeadingEdit" aria-hidden="true">
	 	<div class="modal-dialog">
	    	<div class="modal-header">
	      		<button type="button" class="close saved-voice-modal-close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove" aria-hidden="true"></i></button>
	      		<h4 class="modal-title custom_align" id="HeadingEdit">Process Order</h4>
	    	</div>
	    	<div class="modal-body">
	      		<div class="fluid-row">
	      			<div class="span4">
		      			<div><b>Time: </b></div>
		      			<div id="savedVoiceTime"></div>
	      			</div>	
	      			<div class="span3">
	      				<div><b>Name: </b></div>
	      				<div id="savedVoiceName"></div>
	      			</div>
	      			<div class="span5">
	      				<div><b>Comment: </b></div>
	      				<div id="savedVoiceComment"></div>
	      			</div>
	      		</div>
	      		<div class="fluid-row">
	      			<div class="span12">
	      				<div><b>Content: </b></div>
	      				<div id="savedVoiceAudioDiv">
	      					<audio controls id="savedVoiceURL">
	      					</audio>
	      				</div>
	      			</div>
	      		</div>
	      		<hr>
	      		<form class="form"> 
			  		<div class="control-group">
			  			<div class="fluid-row">
				    		<div class="span3">
				    			<div>Product</div>
				    			<div>
				    				<select class="span10" id="savedVoiceProductName">
				    					<option th:each="product : ${products}" th:value="${product.productId} + ' ' + ${product.unitRate}" th:text="${product.name}">Product</option>
				    				</select>
				    			</div>
				    		</div>
				    		<div class="span3">
				    			<div>Preset Quantity</div>
				    			<div>
				    				<select class="span7" id="savedVoiceProductQuantity">
				    					<option th:each="q : ${presetQuantity}" th:value="${q.quantity}" th:text="${q.quantity}">Quantity</option>
				    					<option value="other">other</option>
				    				</select>
				    			</div>
				    		</div>
				    		<div class="span3">
				    			<div>Custom Quantity</div>
				    			<div>
				    				<input class="span6" type="text" id="savedVoiceCustomQuantity" disabled>
				    			</div>
				    		</div>
				    		<div class="span3">
				    			<br>
				    			<button value="0" id="add-saved-voice-order-items" class="btn btn-primary"> Add</button>
				    		</div>
				  		</div>
			  		</div>
		  		</form>
		  		<div>
		  			<div class="fluid-row">
						<div class="span3"></div>
						<div class="span3"><b>Product Name</b></div>
						<div class="span3"><b>Quantity</b></div>
						<div class="span2"><b>Rate (In ₹)</b></div>
					</div>
		  		</div>
		  		<div ng-repeat="orderItem in orderItems">
		  			<div id="savedVoiceAddedRow{{orderItem.id}}" class="fluid-row">
						<div class="span3"></div>
						<div class="span3">{{orderItem.product}}</div>
						<div class="span3">{{orderItem.quantity}}</div>
						<div class="span2">{{orderItem.unitRate}}</div>
						<div class="span1">
							<button value="{{orderItem.$$hashKey}}" class="close remove-saved-voice-order-item"><i class="icon-remove" aria-hidden="true"></i></button>
						</div>
						<input id="savedVoiceHidden{{orderItem.$$hashKey}}" type="hidden" value="saved">
						<input id="savedVoiceHiddenOrderItemId{{orderItem.$$hashKey}}" type="hidden" value="{{orderItem.id}}">
					</div>
		  		</div>
		  		<div id="savedVoiceOrderItems">
		  		</div>
		  		<!-- Hidden Fields -->
	  			<input type="hidden" id="savedVoiceOrderId">
	  		</div>
	  	</div>
	  <div class="modal-footer ">
	    	<button type="button" id = "process-saved-voice-order" class="btn btn-warning"><i class="icon-white icon-ok"></i>  Process</button>
	    	<button type="button" class="btn btn-default saved-voice-modal-close" data-dismiss="modal"><i class="icon-white icon-remove"></i> Cancel</button>
	  </div>
	</div>
	
	<!-- /.modal-content -->
	<!-- /.modal-dialog -->
</div>